#
.DS_Store
Thumbs.db
.idea
*.sublime*
.vscode
.history
node_modules/
reports/
.pug-lint.json

htdocs/.htaccess

htdocs/bitrix/*
htdocs/upload/*

#htdocs/sitemap*
htdocs/robots.txt
htdocs/google*.html
htdocs/yandex*.*
htdocs/.xml


htdocs/local/config/const.local.php
htdocs/test/*

nbproject/*
