link(href="/f/css/owl.theme.default.min.css" rel="stylesheet", type="text/css")
link(href="/f/css/owl.carousel.css", rel="stylesheet", type="text/css")
link(href="/f/css/slick.css", rel="stylesheet", type="text/css")
link(href="/f/css/main.css", rel="stylesheet", type="text/css")


