
.b-popup.b-popup-success
   .b-popup__wrap
      .b-popup__inner
         .b-popup__close
         .b-popup__img
            img(src="/f/img/success.svg", alt="")
         .b-popup__text Ваше эссе успешно отправлено. <br />Спасибо


.b-popup.b-popup-error
   .b-popup__wrap
      .b-popup__inner
         .b-popup__close
         .b-popup__img
            img(src="/f/img/error.svg", alt="")
         .b-popup__text Вы выполнили неверное действие.<br />Вернитесь и исправьте начатое.