-
	var stories = [
		{
			imgS: '../f/img/history/item1.jpg',
			titleS: 'Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»',
			textS: '«Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!',
			dateS: '12 сентября 2021',
		},
		 
		{
			imgS: '../f/img/history/item4.jpg',
			titleS: 'Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»',
			textS: '«Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!',
			dateS: '12 сентября 2021',
		},
		{
			imgS: '../f/img/history/item2.jpg',
			titleS: 'Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»',
			textS: '«Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!',
			dateS: '12 сентября 2021',
		},
		{
			imgS: '../f/img/history/item1.jpg',
			titleS: 'Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»',
			textS: '«Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!',
			dateS: '12 сентября 2021',
		},
			{
			imgS: '../f/img/history/item3.jpg',
			titleS: 'Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»',
			textS: '«Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!',
			dateS: '12 сентября 2021',
		},
		{
			title: 'УЗНАТЬ БОЛЬШЕ',
			text: 'Какие дисциплины нужно знать для участия в программе?',
			img: '../f/img/item3.png',
			link: 'База знаний',
			imgArrow: '../f/img/arrow.svg',
			color: 'red',
		},
			{
			imgS: '../f/img/history/item3.jpg',
			titleS: 'Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»',
			textS: '«Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!',
			dateS: '12 сентября 2021',
		},

		{
			imgS: '../f/img/history/item5.jpg',
			titleS: 'Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»',
			textS: '«Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!',
			dateS: '12 сентября 2021',
		},
	]

.b-stories__wrap
	.b-stories__list
		each item in stories
			a(href="#").b-stories__item
				.b-stories__inner
					.b-stories-top 
						.b-stories__img
							img(src="" +item.imgS, alt="")
					.b-stories-middle
						.b-stories__title !{item.titleS}
						.b-stories__text !{item.textS}
					.b-stories-bottom
						.b-stories__date !{item.dateS}

				.b-offer__wrap
					.b-offer__inner
						.b-offer__item-top
							.b-offer__item-title !{item.title}


