-
   var tab = [
      {
         list: [
            {'Текст статьи. ','Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.','Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.','Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены сами себе.','Текст статьи.'}
         ]
         name: 'Схема олимпиады',
         img: '',
         text: [
            {'Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.', 'Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены сами себе.'}
         ]
      },
      {
         list: [
            {'Текст статьи. ','Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.','Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.','Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены сами себе.','Текст статьи.'}
         ]
         name: 'Схема олимпиады',
         img: '',
         text: [
            {'Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.', 'Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены сами себе.'}
         ]
      },
      {
         list: [
            {'Текст статьи. ','Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.','Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.','Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены сами себе.','Текст статьи.'}
         ]
         name: 'Схема олимпиады',
         img: '',
         text: [
            {'Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.', 'Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены сами себе.'}
         ]
      },
      {
         list: [
            {'Текст статьи. ','Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.','Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.','Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены сами себе.','Текст статьи.'}
         ]
         name: 'Схема олимпиады',
         img: '',
         text: [
            {'Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.', 'Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены сами себе.'}
         ]
      },

   ]