.b-vs__overlay

.b-vs__wrap
   .b-vs__list.b-vs-carusel
      .b-vs__item
         .b-vs__item-inner
            .b-vs__iframe
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/VjA6dE4hST0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .b-vs-text
               .b-vs-text__title Название фото или видео Lorem ipsum dolor sit amet.
               .b-vs-text__date 1992 год
      .b-vs__item
         .b-vs__item-inner
            .b-vs__iframe
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/VjA6dE4hST0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .b-vs-text
               .b-vs-text__title Название фото или видео Lorem.
               .b-vs-text__date 2099 год
