@import "components/fonts"
@import "components/variables"
@import "components/base"



//pages
@import "components/header"
@import "components/footer"
@import "components/main-page"
@import "components/stories"
@import "components/questions"
@import "components/media"
@import "components/contact"
@import "components/essay"
@import "components/timetable"
@import "components/subsection"
@import "components/404"
@import "components/search"
@import "components/news"
@import "components/content"
   
//blocks
@import "_blocks/storeis-block"
@import "_blocks/breadcrumbs"
@import "_blocks/network"
@import "_blocks/tabs"
@import "_blocks/pagination"
@import "_blocks/popup"
@import "_blocks/video"