
//resp
$desktopB = 'screen and (max-width: 1500px)';
$desktop = 'screen and (max-width: 1320px)';
$desktopS = 'screen and (max-width: 1240px)';
$tablet = 'screen and (max-width: 1023px)';
$tabletB = 'screen and (max-width: 991px)';
$phone = 'screen and (max-width: 767px)';
$beforePhoneB = 'screen and (max-width: 640px)';
$beforePhoneS = 'screen and (max-width: 575px)';
$phoneS = 'screen and (max-width: 390px)';
$phoneSbefore = 'screen and (max-width: 320px)';

$beforePhone = 'screen and (min-width: 768px)';


//color

$linkFont = #0A52BF
$linkHover = #418DFF
$linkVisited = #04337B
// $hoverFont = #4479BC
// $linkFontlight = #5686C3

$white = #ffffff
$black = #000000 
$gray = #9A9A9A
$darkgray = #888888
$red = #E70B00
$orange = #FF9A00
$yellow = #FFD600
$blue = #00E0FF
$darkblue = #0077FF
$purpleness = #9C0070
$footer = rgba(105,105,105,  0.1)
$header = #001447
$darkblue = rgba(85,219,249, 0.4)
$darkgreen = #004601
$green = #147115
$click = #19BC1B
$lightgreen = #01A303
$darkoffer = #121B47
$signature = #909090
$input = #CAC7C7
$default = #A7A7AB 