extends layouts/default

block pageVar
	-pageTitle = 'Умницы и Умники ';

block content
	.page-container.page-container--fix-header
		.content-wrapper.content-wrapper_bg
			div.pagelist(style="padding:50px")
				a(href="/_html/main.html") main
				a(href="/_html/stories.html") winners stories
				a(href="/_html/stories-open.html") winners stories open
				a(href="/_html/questions.html") Вопросы и ответы
				a(href="/_html/media.html") Медиа
				a(href="/_html/media-open.html") Название альбома
				a(href="/_html/contact.html") Контакты 
				a(href="/_html/essay.html") Эссе 
				a(href="/_html/timetable.html") Расписание
				a(href="/_html/search.html") search
				a(href="/_html/search-inner.html") search-inner
				a(href="/_html/news.html") news
				a(href="/_html/news-open.html") news-open
				a(href="/_html/content.html") content
				a(href="/_html/404.html") 404
				
				br
				br
				a(href="/_html/lead.html") ПРИМЕРЫ

	style.
		.pagelist a{
			display:block;
			padding: 5px 0;
			font-size: 18px;
			line-height: 15px;
			margin: 5px 0
		}













		