extends layouts/default

block pageVar
	-pageTitle = 'questions';
block content
	.page-container.page-container--fix-header

		+breadcrumbs({path:[
			{title:'Главная', href:'#'},
			{title:'Вопросы и ответы', href:''}
			]})
		.content-wrapper
			.b-questions
				.b-questions__inner
					h1.b-questions__title.b-title.b-title-strip Вопросы и ответы
					.b-questions__wrap.b-list__wrap
						.b-questions__left.b-list__item
							.b-list__item-img
								img(src="/f/img/questions-ico.svg", alt="")
						.b-questions__middle.b-list__item
							| Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач. Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены сами себе.


							.b-tabs
								.b-tab
									.b-tab__name.js-click Схема олимпиады
									.b-tab__content
										.b-tab__content-inner
											.b-tab__content-ico
												img(src="/f/img/letter-ico.svg", alt="")
											.b-tab__content-text
												p Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
												p Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.

								.b-tab
									.b-tab__name.js-click Кому можно принять участие
									.b-tab__content
										.b-tab__content-inner
											.b-tab__content-ico
												img(src="/f/img/letter-ico.svg", alt="")
											.b-tab__content-text
												p Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
												p Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.

								.b-tab
									.b-tab__name.js-click Как принять участие
									.b-tab__content
										.b-tab__content-inner
											.b-tab__content-ico
												img(src="/f/img/letter-ico.svg", alt="")
											.b-tab__content-text
												p Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
												p Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.

								.b-tab
									.b-tab__name.js-click Как проводятся отборы
									.b-tab__content
										.b-tab__content-inner
											.b-tab__content-ico
												img(src="/f/img/letter-ico.svg", alt="")
											.b-tab__content-text
												p Таким образом, граница обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
												p Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада прекрасно подходит для реализации поставленных обществом задач.

									
						.b-questions__right.b-list__item
							include _blocks/network