extends layouts/default

block pageVar
	-pageTitle = 'Stories-open';
block content
	.page-container.page-container--fix-header
		.content-wrapper
			.b-page__img.b-page__img-stories
		+breadcrumbs({path:[
			{title:'Главная', href:'#'},
			{title:'Информация о олимпиале', href:'#'},
			{title:'История создания и развития олимпиады', href:''}
			]})
		.content-wrapper
			.b-title--h2.b-stories__title.b-title.b-title-strip.b-title__img ИСТОРИИ УСПЕХА
			.b-stories-open__wrap
					.b-stories-open__inner.b-list__wrap
						.b-stories-open__item.b-list__item
							a(href="#").b-back-link
						.b-stories-open__item.b-list__item
							.b-stories-open__content
								h1.fs--h1 Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»
								div
									img(src="/f/img/history/item-big.jpg", alt="...")
									.b-foto-text Фото: предоставлено Александрой Мироновой <br />Сама Александра узнала про свою победу чуть раньше, чем вышел финальный выпуск
								.b-content
									p
										strong «Очень сильная девушка», 
										| – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица! 11 лет учёбы на «отлично», победы в олимпиадах и конкурсах, сотни прочитанных книг, блестящие эрудиция и память, целеустремлённость, прекрасная грамотная речь, обаятельная улыбка – всё это помогло Александре прекрасно защитить честь Нижегородской области и победить в престижной олимпиаде, приз в которой – поступление в МГИМО!
									
									h2
										strong Помог театр

									p 
										| ТВ-олимпиада, которую 28 лет назад придумал преподаватель МГИМО, писатель и телеведущий «заумник» Александр Вяземский, проходит в несколько этапов в течение всего учебного года, с сентября по июнь. Александра, ученица нижегородской авторской академической школы № 186 (НААШ), рассказала, что об этой олимпиаде она узнала в 10‑м классе от учителя по литературе.
									p 
										| – В конце марта 2019 года моя учительница русского и литературы сказала, что через пару дней будет проводиться конкурс эссе для «Умниц и умников». Я тогда мало знала о передаче, но поучаствовать согласилась, – вспоминает девушка. – После этого, к своему собственному удивлению, я прошла все этапы в Нижнем, дойдя до регионального финала. Я стала абсолютным победителем. Предстоящая поездка в Москву казалась мне тогда нереальной, но я решила, что буду готовиться, потому что подобные шансы выпадают нечасто.
									
									h3
										strong «Умнейшая из теоретиков!»

									.b-content__float.b-content__float--right.b-content__float-img--small
										div
											img(src="/f/img/history/item6.jpg", alt="...")
											.b-content-img__subtext Александра Миронова
										div
											p 
												| Всем, прошедшим на следующие этапы, за месяц до их начала сообщили темы встреч.
											p 
												| – На подготовку у нас был месяц, – рассказывает Саша Миронова. – Ни списка литературы, ни тем более примерного списка вопросов нам не давали, поэтому приходилось рассчитывать на собственное чутьё при интерпретации и разборе тем, зачастую довольно обширных. Книги я покупала в местной студенческой лавке, брала в школьной библиотеке или получала их от своего дедушки. Мне также очень помогли некоторые интернет-ресурсы: в основном разнообразные исторические сайты и электронные библиотеки.
											p 
												| Снимали по четыре игры в день! Как рассказала Саша, съёмки каждой передачи длились по полтора часа с перерывом в 30 минут.
									
									p 
										| Саша побывала и на игровой дорожке, и отлично сражалась на трибунах «теоретиков». Отвечала про театр, про имя бога Аполлона, про древнюю Грецию, про Пушкина, Гоголя и Достоевского.
									p 
										| «Умнейшая из теоретиков» – сказал про нашу Сашу Юрий Вяземский, когда объявлял список из 24 полуфиналистов.
									p 
										| В полуфинале пришлось отвечать на вопросы по сложнейшей для школьников теме – философии. Саша снова блистала на трибунах, отвечая на вопросы про Соловьёва, Достоевского, «Братьев Карамазовых» и Оптину пустынь.

									p 
										| По итогам полуфинала Александра в числе 12 умников и умниц вышла в финал. До победы остался один шаг.
									p 
										| Финалисты ждали приглашения в Москву на заключительные съёмки, но… коронавирус, карантин, самоизоляция, дистанционное обучение…
									p 
										| В итоге ректор МГИМО и заумник Юрий Вяземский вместе приняли такое решение: объявить победителями 28-го сезона олимпиады «Умницы и умники» всех финалистов. Ещё пять человек признали призёрами олимпиады.
									p 
										| Сама Александра узнала про свою победу чуть раньше, чем вышел финальный выпуск. Она сама ещё не успела даже пересмотреть весь сезон со своим участием – готовится к ЕГЭ.
									
									h3 
										strong «Это было весело!»

									p 
										| Мы поздравили умницу с победой, а она поделилась с нами впечатлениями, планами на лето и советами для будущих участников.

									p
										strong – Саша, оглядываясь назад, вспомни, что было самым сложным?
									p 
										| – Самым сложным было подавить панику и сесть на поезд в Москву в сентябре, когда впервые нужно было ехать на съёмки. Всё остальное далось мне намного легче, потому что даже страх что-то забыть не был сильнее испытанного мной тогда страха перед неизвестным.

									p 
										strong – Сильная разница между тем, что ты ожидала, и тем, как всё было на самом деле?
									P 
										| – Пожалуй, главное отличие, которое в первый же день четвертьфинала отметили все участники моего сезона, таково: студия на самом деле очень маленькая, на экране она выглядит намного больше. А еще съёмочный процесс на самом деле веселее, чем можно заподозрить, глядя на конечный результат.

									p 
										strong – Вяземский подсказывает?
									P
										| – Да, такое бывает. В некоторых выпусках видно, что если вопрос вызывает сильные затруднения, то Юрий Павлович предлагает подсказать. Иногда по его подсказкам можно догадаться, иногда они только запутывают ещё больше, если изначально ты ни малейшего понятия о правильном ответе не имел.
						.b-stories-open__item.b-list__item
							include _blocks/network
