extends layouts/default

block pageVar
	-pageTitle = 'Stories';
block content
	.page-container.page-container--fix-header
		.content-wrapper
			.b-page__img.b-page__img-stories
		+breadcrumbs({path:[
			{title:'Главная', href:'#'},
			{title:'Информация о олимпиале', href:'#'},
			{title:'История создания и развития олимпиады', href:''}
			]})
		.content-wrapper
			h1.b-stories__title.b-title ИСТОРИИ УСПЕХА
			.b-stories__wrap
				.b-stories__list

					a(href="#").b-stories__item
						.b-stories__inner
							.b-stories-top 
								.b-stories__img
									img(src="/f/img/history/item1.jpg", alt="")
							.b-stories-middle
								.b-stories-item__title Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»
								.b-stories-item__text «Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!
							.b-stories-bottom
								.b-stories-item__date 12 сентября 2021

					a(href="#").b-stories__item
						.b-offer__bg.b-offer__bg--blue
							.b-offer__item-foto
								img(src="", alt="")
							.b-offer__item-top
								.b-offer__item-title СТАТЬ АГОНИСТОМ
							.b-offer__item-middle 
								.b-offer__item-text Уверены в своих знаниях и готовы побеждать?
								.b-offer__item-img 
									img(src="/f/img/item1.png" , alt="")
							.b-offer__item-bottom
								.b-offer__item-link
									span Заявка на участие
									img(src="/f/img/arrow.svg", alt="")

					a(href="#").b-stories__item
						.b-stories__inner
							.b-stories-top 
								.b-stories__img
									img(src="/f/img/history/item4.jpg", alt="")
							.b-stories-middle
								.b-stories-item__title Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»
								.b-stories-item__text «Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!
							.b-stories-bottom
								.b-stories-item__date 12 сентября 202
						
					a(href="#").b-stories__item
						.b-stories__inner
							.b-stories-top 
								.b-stories__img
									img(src="/f/img/history/item2.jpg", alt="")
							.b-stories-middle
								.b-stories-item__title Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»
								.b-stories-item__text «Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!
							.b-stories-bottom
								.b-stories-item__date 12 сентября 202

					a(href="#").b-stories__item
						.b-stories__inner
							.b-stories-top 
								.b-stories__img
									img(src="/f/img/history/item1.jpg", alt="")
							.b-stories-middle
								.b-stories-item__title Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»
								.b-stories-item__text «Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!
							.b-stories-bottom
								.b-stories-item__date 12 сентября 2021

					a(href="#").b-stories__item
						.b-stories__inner
							.b-stories-top 
								.b-stories__img
									img(src="/f/img/history/item3.jpg", alt="")
							.b-stories-middle
								.b-stories-item__title Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»
								.b-stories-item__text «Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!
							.b-stories-bottom
								.b-stories-item__date 12 сентября 2021

					a(href="#").b-stories__item
						.b-offer__bg.b-offer__bg--red
							.b-offer__item-foto
								img(src="", alt="")
							.b-offer__item-top
								.b-offer__item-title СТАТЬ АГОНИСТОМ
							.b-offer__item-middle 
								.b-offer__item-text Уверены в своих знаниях и готовы побеждать?
								.b-offer__item-img 
									img(src="/f/img/item3.png" , alt="")
							.b-offer__item-bottom
								.b-offer__item-link
									span Заявка на участие
									img(src="/f/img/arrow.svg", alt="")

					a(href="#").b-stories__item
						.b-stories__inner
							.b-stories-top 
								.b-stories__img
									img(src="/f/img/history/item3.jpg", alt="")
							.b-stories-middle
								.b-stories-item__title Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»
								.b-stories-item__text «Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!
							.b-stories-bottom
								.b-stories-item__date 12 сентября 2021


					a(href="#").b-stories__item
						.b-stories__inner
							.b-stories-top 
								.b-stories__img
									img(src="/f/img/history/item5.jpg", alt="")
							.b-stories-middle
								.b-stories-item__title Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»
								.b-stories-item__text «Очень сильная девушка», – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица!
							.b-stories-bottom
								.b-stories-item__date 12 сентября 2021